@charset "UTF-8";
@font-face {
    font-family: 'passion';
    src: url('../fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sriracha';
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'passion', cursive;
    --font03: 'sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}
header > h1 {
    font-family: var(--font02);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
header p {
    font-family: var(--font01);
    font-size: 1em;
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 1px 0px black;
}
section#img01 {
    background: transparent url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
}
section#img02 {
    background: transparent url('../imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}